In [2]:
import pandas as pd 
df=pd.read_csv("amazon_sales_dataset.csv")
df

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue
0,1,2022-04-13,2637,Books,128.75,10,4,North America,UPI,3.5,443,115.88,463.52
1,2,2023-03-12,2300,Fashion,302.60,20,5,Asia,Credit Card,3.7,475,242.08,1210.40
2,3,2022-09-28,3670,Sports,495.80,20,2,Europe,UPI,4.4,183,396.64,793.28
3,4,2022-04-17,2522,Books,371.95,15,4,Middle East,UPI,5.0,212,316.16,1264.64
4,5,2022-03-13,1717,Beauty,201.68,0,4,Middle East,UPI,4.6,308,201.68,806.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,2022-09-03,1433,Beauty,26.99,0,5,Middle East,Credit Card,2.4,386,26.99,134.95
49996,49997,2022-07-03,1428,Beauty,294.23,10,5,Asia,Credit Card,3.1,8,264.81,1324.05
49997,49998,2023-02-17,4651,Electronics,352.11,30,4,Asia,Debit Card,3.1,104,246.48,985.92
49998,49999,2022-09-30,4371,Beauty,307.54,5,1,Middle East,UPI,1.8,316,292.16,292.16
49999,50000,2023-06-29,2944,Home & Kitchen,253.44,30,1,Europe,Debit Card,2.1,464,177.41,177.41

In [3]:
df.head()

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue
0,1,2022-04-13,2637,Books,128.75,10,4,North America,UPI,3.5,443,115.88,463.52
1,2,2023-03-12,2300,Fashion,302.60,20,5,Asia,Credit Card,3.7,475,242.08,1210.40
2,3,2022-09-28,3670,Sports,495.80,20,2,Europe,UPI,4.4,183,396.64,793.28
3,4,2022-04-17,2522,Books,371.95,15,4,Middle East,UPI,5.0,212,316.16,1264.64
4,5,2022-03-13,1717,Beauty,201.68,0,4,Middle East,UPI,4.6,308,201.68,806.72

In [4]:
df.tail()

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue
49995,49996,2022-09-03,1433,Beauty,26.99,0,5,Middle East,Credit Card,2.4,386,26.99,134.95
49996,49997,2022-07-03,1428,Beauty,294.23,10,5,Asia,Credit Card,3.1,8,264.81,1324.05
49997,49998,2023-02-17,4651,Electronics,352.11,30,4,Asia,Debit Card,3.1,104,246.48,985.92
49998,49999,2022-09-30,4371,Beauty,307.54,5,1,Middle East,UPI,1.8,316,292.16,292.16
49999,50000,2023-06-29,2944,Home & Kitchen,253.44,30,1,Europe,Debit Card,2.1,464,177.41,177.41

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          50000 non-null  int64
 1   order_date        50000 non-null  str
 2   product_id        50000 non-null  int64
 3   product_category  50000 non-null  str
 4   price             50000 non-null  float64
 5   discount_percent  50000 non-null  int64
 6   quantity_sold     50000 non-null  int64
 7   customer_region   50000 non-null  str
 8   payment_method    50000 non-null  str
 9   rating            50000 non-null  float64
 10  review_count      50000 non-null  int64
 11  discounted_price  50000 non-null  float64
 12  total_revenue     50000 non-null  float64
dtypes: float64(4), int64(5), str(4)
memory usage: 5.0 MB

In [6]:
df.shape

(50000, 13)

In [7]:
df.columns

Index(['order_id', 'order_date', 'product_id', 'product_category', 'price',
       'discount_percent', 'quantity_sold', 'customer_region',
       'payment_method', 'rating', 'review_count', 'discounted_price',
       'total_revenue'],
      dtype='str')

In [8]:
df["order_date"].unique()

<StringArray>
['2022-04-13', '2023-03-12', '2022-09-28', '2022-04-17', '2022-03-13',
 '2023-12-02', '2022-01-21', '2023-09-07', '2022-05-02', '2023-04-12',
 ...
 '2022-02-14', '2023-06-12', '2023-08-23', '2023-03-09', '2022-07-16',
 '2023-11-25', '2022-10-26', '2022-02-21', '2022-03-12', '2023-11-02']
Length: 730, dtype: str

In [9]:
df["rating"].unique()

array([3.5, 3.7, 4.4, 5. , 4.6, 3.8, 1.6, 3.4, 2.8, 2. , 4.3, 3.6, 1.4,
       2.7, 2.9, 1.2, 2.4, 1. , 1.1, 4.1, 4.5, 1.9, 1.3, 3.9, 3.1, 2.6,
       4. , 2.1, 4.2, 2.5, 3.3, 2.3, 3.2, 1.7, 2.2, 3. , 4.7, 1.5, 4.8,
       1.8, 4.9])

In [10]:
df["customer_region"].unique()

<StringArray>
['North America', 'Asia', 'Europe', 'Middle East']
Length: 4, dtype: str

In [11]:
df["order_date"].value_counts()

order_date
2023-10-19    93
2022-04-16    89
2022-10-20    88
2022-12-09    88
2023-05-24    87
              ..
2022-04-01    51
2023-07-06    51
2022-01-15    50
2023-02-22    50
2023-04-15    48
Name: count, Length: 730, dtype: int64